{% extends "base.html" %}

{% block content %}
    <p><u><h1 class="title is-2"> Carrito </h1></u></p>

    <div class="block">
        <p><u><h5 class="subtitle"> Información General: </h5></u></p>

        <div class="content">
            <ul>
              <li> <strong>Cliente:</strong> {{ object.cliente.user_profile.user.get_username }}</li>
              <li> <strong>Fecha Creación:</strong> {{ object.fecha_creacion }}</li>
              <li> <strong>Estado:</strong> {{ object.estado }}</li>
            </ul>
        </div>

    </div>

    <div class="block">
        <p><u><h5 class="subtitle"> Detalle: </h5></u></p>

        <div class="content">
            <ul>
              {% for detalle in detalles %}
                <li>
                  {{ detalle }}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                  <a href="{% url 'add-to-cart' product_pk=detalle.producto.pk %}" class="button is-success">
                    +
                  </a>
                    &nbsp;&nbsp;
                  <a href="{% url 'remove-from-cart' product_pk=detalle.producto.pk %}" class="button is-danger">
                    -
                  </a>
                </li>
                &nbsp;
              {% endfor %}
            </ul>
        </div>

    </div>

    <hr>

    <a href="{% url 'pedido-update' pk=object.pk %}" class='button is-info'>
      Checkout
    </a>

    <hr>

{% endblock %}